body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg , #e64d06, #099abe);
    color: #333;
}

header {
    background: linear-gradient(135deg, #ff512f, #dd2476);
    color: white;
    text-align: center;
    padding: 40px 20px;
}

header h1::after {
    content: " 🇮🇳";
}

.places {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    padding: 40px;
}

.card {
    background: linear-gradient(135deg, #ffffff, #ffffff);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.card:hover {
    background: linear-gradient(135deg, #ffffff, #000);
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    color: #dd2476;
}


a {
    color: #ff512f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 80%;
    margin: 30px auto;
    border: #000;
    border-collapse: collapse;
}

th {
    background: #dd2476;
    color: white;
    padding: 12px;
}

td {
    padding: 10px;
    text-align: center;
}

tr:nth-child(even) {
    background: #f2f2f2;
}

tr:hover {
    background: #ffe6ec;
}

iframe {
    width: 90%;
    height: 300px;
    display: block;
    margin: 20px auto;
    border-radius: 12px;
    border: none;
}

.media iframe {
    width: 80%;
    height: 350px;
    margin: 20px auto;
    display: block;
}

audio {
    display: block;
    margin: 20px auto;
}

form {
    width: 60%;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

input:focus {
    outline: none;
    border-color: #dd2476;
}

.buttons input {
    width: 48%;
    background: #dd2476;
    color: white;
    border: none;
    cursor: pointer;
}

.buttons input:hover {
    background: #ff512f;
}

footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: white;
}

.center {
    text-align: center;
    margin-top: 40px;
}
body {
    background-color: #f8f9fa;
}

.jumbotron {
    background: linear-gradient(0deg, red, orange);
    background-color: #e9ecef;
    margin-bottom: 0;
}

.container {
    margin-top: 30px;
}

h2 {
    color: #343a40;
}
